.intro__list {
    width: 690px;
    height: 90px;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .intro__list {
        width: 288px;
        
    }
    
}