.intro__title {
    width: 690px;
    height: 58px;
    line-height: 58px;
    font-size: 54px;
    font-weight: 900;
    display: inline; 
}

@media screen and (max-width: 768px) {
    .intro__title  {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title  {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}